@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FFFEFC;
}

.lg-button {
    border-top: 1px solid #000;
    border-right: 4px solid #000;
    border-bottom: 5px solid #000;
    border-left: 1px solid #000;
    background: #FFF;
    height: 60px;
    border-radius: 30px;
    padding: 0 40px;
    white-space: nowrap;
}

.lg-button:active {
    border-right: 2px solid #000;
    border-bottom: 3px solid #000;
    margin-left: 2px;
    margin-top: 2px;
}

.lg-button:hover {
    background: #F3F3F3;
}

.md-button {
    border-top: 1px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 1px solid #000;
    background: #FFF;
    height: 40px;
    border-radius: 8px;
    padding: 0 20px;
    white-space: nowrap;
}

.md-button:active {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-left: 1px;
    margin-top: 1px;
}

.md-button:hover {
    background: #F3F3F3;
}

.border-md {
    border-radius: 8px;
    border-top: 1px solid #000;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    border-left: 1px solid #000;
    background: #FFF;
}

.heading1 {
    font-family: var(--font-domine);
    color: #000;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
}

.heading2 {
    font-family: var(--font-domine);
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
}

.heading3 {
    font-family: var(--font-domine);
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}

.body1 {
    font-family: var(--font-josefine-sans);
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
}

.body2 {
    font-family: var(--font-josefine-sans);
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.lg-button-text {
    font-family: var(--font-josefine-sans);
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
}

.md-button-text {
    font-family: var(--font-josefine-sans);
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    padding-top: 5px;
}

.animatedPath {
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
    animation: dash 1.5s linear;
}

.hover-scale {
    transition: transform .2s;
}

.hover-scale:hover {
    transform: scale(1.02);
}

@keyframes dash {
    from {
        stroke-dashoffset: 1;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.slide {
    opacity: 0;
    animation: slide 1.5s linear infinite alternate;
}

@keyframes slide {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 640px) {
    .heading1 {
        font-size: 52px;
    }

    .heading2 {
        font-size: 40px;
        white-space: normal;
    }

    .heading2 {
        font-size: 30px;
        white-space: normal;
    }

    .body2 {
        word-break: break-word;
    }

}